.add-target {
    display: block; 
    width: 700px;
    height: 70px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    object-fit: contain;
    background: white;
    
}

.container-img {
    width: inherit;
    object-fit: fill;
}

.img {
    
}

#top {
    object-fit: contain;
    height: inherit;
    padding: 5px;
}

.add-target-bottom > img{
    object-fit: contain;
    height: inherit;
    padding: 5px;

}

.add-target-bottom {
    display: block;
    margin: auto;
    width: 700px;
    height: 70px;
    /* border: 1px solid rgba(0, 0, 0, 0.13); */
    background: white;

}

#left{
    object-fit: contain;
    width: inherit;
    padding: 5px;

}



.add-target-left {
    display: block; 
    width: 200px;
    max-width: 200px;
    background: white;
    height: 60vh;
    /* border: 1px solid #000; */
    position: fixed;
    left: 3px;
    top: 20%;
    z-index: 100px;
}

#right{
    object-fit: contain;
    width: inherit;
    padding: 5px;
    align-items: center;
}

.add-target-right {
    display: block; 
    width: 200px;
    min-width: 100px;
    max-width: 200px;
    height: 60vh;
    /* border: 1px solid #000; */
    position: fixed;
    background: white;

    right: 3px;
    top: 20%;
    z-index: 100px;
}

.button {
    display: flex;
    position: absolute;
    right: 5px;
    top: 4px;
    opacity: .3;
}

.button:hover {
    cursor: pointer;
    opacity: 1;

}



@media only screen and (max-width: 575.98px){

    .add-target {
        display: block;
        margin: 5px;
        width: 100%;
        height: 50px;
        /* position: fixed; */
        top: 2px;
        /* z-index: 100px */
        
    }
    
    .add-target-bottom {
        display: block;
        margin: 0;
        width: 100%;
        height: 50px;
        position: fixed;
        bottom: 2px
    }
    
    
    .add-target-left {
        display: none; 
        width: 200px;
        max-width: 200px;
        height: 60vh;
        position: fixed;
        left: 3px;
        top: 20%;
        z-index: 100px;
    }
    
    .add-target-right {
        display: none; 
        width: 200px;
        max-width: 200px;
        height: 60vh;
        position: fixed;
        right: 3px;
        top: 20%;
        z-index: 100px;
        object-fit: contain;
    }
    .img {
        object-fit: cover;
        /* width: 200px; */
        text-align: center;
        
    
    }

}

@media (min-width: 576px) and (max-width: 767.98px){

    .add-target {
        display: block;
        margin: 5px;
        width: 100%;
        height: 50px;
        border: 1px solid #000;
        /* position: fixed; */
        top: 2px;
        /* z-index: 100px */
        
    }



}

@media (min-width: 768px) and (max-width: 991.98px){

}