@import '../App.css';

p{
    margin: 0;
}

.target:hover {
    cursor: pointer;
}

.card-new {
    cursor: pointer;
}

.loading {
    position: absolute;
    left:50%;
    top:50%;
    color: #000;
    font-size: 80px;
}

.target {
    overflow: hidden;
    box-shadow: 6px 4px 6px -6px rgb(0 0 0);
    position: relative;
    /* border: 1px solid #000; */
    margin-bottom: 10px;
    border-radius: 17px;
    background: var(--white);

}

.frame {
    width: 100%;
    height: 300px;
}

.metadata {
    font-size: 18px;
    font-weight: 600;
    color: var(--white)

}
.category {
    position: absolute;
    top: 0;
    left: 20px;

}

.date {
    position: absolute;
    top: 0;
    display: flex;
    right: 20px;

}

.image-new {
    width: 100%;
    height: 300px;
    object-fit: fill;

}
.content {
    padding: 12px;
}


.title-principal {
    /* padding: 10px; */
    /* text-align: justify; */
}

.title-covid > h3{
    font-size: 22px;
}

.btn-more-principal:hover{
    text-decoration: none ;
    color: var(--black);
    background: rgb(199, 199, 199);
    /* border: transparent; */

}
.btn-more-principal {
    display: inline-block;
    text-decoration: none;
    background: rgba(199, 199, 199, 0.541);
    padding: 12px;
    box-sizing: border-box;
    border: transparent;
    border-radius: 10px;
    color: var(--black);
    border: transparent;
}


.resumen {
    font-size: 18px;
}


a{ 
    text-decoration: none;
    color: #000;
}
  
a:hover{
   text-decoration: none;
   color: #000;

}


/* imagenSecondary component */

.flex-target {
    display: flex;
}

.imagen-secondary {
    width: 150px;
    /* height: 100px;  */

}

.secondary-img {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.content-secondary {
    padding: 5px 10px;
}

.content-secondary > h3 {
    font-size: 16px;
}

.content-secondary > p {
    font-size: 15px;
    text-align: justify;
    display: block;
}

.btn-see-more {
    border-radius: 7px;
    width: 100%;
    background: var(--blue);
    color: var(--white);
    padding: 5px;
    margin-bottom: 25px;
    border: transparent;
    margin-bottom: 80px;

}

.btn-see-more:hover{
    /* animation-name: fill-butom;
    animation-duration: .2s; */
    background: rgb(10, 95, 192);

    color: var(--white);
    border: transparent;


}

.link-secondary {
    color: var(--black);
    font-weight: bold;
}

.link-secondary:hover {
    /* text-decoration: none; */
    color: var(--black);

}

/*  news terciarias */


.target-terciaria {
    width: 100%;
    /* height: auto; */
    height: 150px;
    position: relative;
    border-radius: 6px;
    overflow: hidden;
    /* border: solid 1px; */
    margin: 6px 0px;
    box-shadow: 6px 4px 6px -6px rgb(0 0 0);
}

.target-terciaria:hover > .bg{
    position: absolute;
    opacity: .5;
    width: 100%;
    height: 100%; 
    bottom: 1px;
    background: #000;
    animation: bg-animation .3s linear; 
    animation-fill-mode: both;
}

/* modal */


.cont-img-new{
    width: 70%;
    display: flex;
    justify-content: center;
    margin: auto;

}

.title-new{
    justify-content: center;
    text-align: center;
    margin: 15px;
    color: #0A5FC0;
}

.modal{
    max-width: 100%;
    display: flex;
    justify-content: center;
}

.new-content{
    margin: 30px;
}

.new-content > p{
    padding-bottom: 10px;
    font-size: 18px;
}


.img-new-post{
    width: 100%;
}

/* fin modal */

@keyframes bg-animation {
    0% {
        /* background: #000; */
        /* bottom: 0%; */
        width: 100%;
        height: 0%;
    }
    100% {
        /* bottom: 99.5%; */
        width: 100%;
        height: 100%;
        /* background: #000; */

    }
    
}


.imagen-terciaria:hover + .titulo-terciario{
    background: var(--black);
}

.imagen-terciaria {
    width: inherit;
    box-sizing: border-box;
    height: max-content;
    object-fit: cover;
}

.link {
    color: var(--white);
    /* background: #000; */
}

.link:hover {
    font-weight: bold;


}

.titulo-terciario {
    font-size: 12px;
    position: absolute;
    bottom: 5px;
    font-weight: bold;
    color: var(--white);
    padding: 4px;
    margin: 0px;
}

h5{
    margin: 0
}

#Recientes{
    background: var(--recientesColor);
    height: 2px;
    margin: 0 0 30px 0;
}

#Salud{
    background: var(--saludColor);
    height: 2px;
    margin: 0 0 30px 0;
}

#Economia{
    background: var(--economiaColor);
    height: 2px;
    margin: 0 0 30px 0;
}

#Deportes{
    background: var(--deportesColor);
    height: 2px;
    margin: 0 0 30px 0;
}

#Covid{
    background: var(--covidColor);
    height: 2px;
    margin: 0 0 30px 0;
}

#Busquedad{
    background: var(--covidColor);
    height: 2px;
    margin: 0 0 30px 0;
}

/* new search */


.btn-more-news{
    display: flex;
    justify-content: center;
    width: 400px;
    margin: auto;
    background: var(--blue);
    color: var(--white);
    border-radius: 7px;
    padding: 5px;
    border: transparent;
}

.modal-body{
    height: 85vh;
}

.modal-dialog {
    max-width: 90%!important;
    margin: 10px auto;
}

iframe{
    width: 100%;
    height: 100%;
}

.modal-body{
    padding: 5px 0px;;
}

@media only screen and (max-width: 575.98px){

    .target {
        overflow: hidden;
        box-shadow: 6px 4px 6px -6px rgb(0 0 0);
        position: relative;
        margin-bottom: 10px;
        border-radius: 0px;
        background: var(--white);
    }

    .btn-more-news{
        display: block;
        width: 100%;
        margin: auto;
        background: var(--blue);
        color: var(--white);
        border-radius: 7px;
        padding: 5px;
        border: transparent;
    }

    .resumen {
        display: none;
    }

    .content{
        position: absolute;
        bottom: 0px;
        z-index: 100px;
        padding: 1px;
        width: 100%;
    }

    .content > p{
        display: none;
    }

  

    .frame {
        width: 100%;
        height: 200px;
        background: #000000b8;
    }

    .metadata {
        font-size: 10px;
        font-weight: 400;
        color: var(--white)

    }
    .category {
        position: absolute;
        top: 0;
        left: 10px;

    }

    .date {
        position: absolute;
        top: 0;
        display: flex;
        right: 10px;

    }

    .image-new {
        width: 100%;
        height: 200px;
        object-fit: cover;

    }
    .title > h4{
        font-size: 16px;

    }

    .title > p{
        font-size: 13px;

    }

    .title-principal > h3 {
        font-size: 16px;
        background: #000000b8;
        color: var(--white)!important;
        padding: 5px;
        
    }

    /* .btn-more-principal:hover{
        text-decoration: none ;
        color: var(--white);
        border: transparent;


    } */
    .btn-more-principal {
        display: block;
        text-decoration: none;
        background: var(--blue);
        padding: 8px;
        font-size: 14px;
        text-align: center;
        box-sizing: border-box;
        border-radius: 10px;
        color: var(--white);
        border: transparent;
        display: none ;
        

    }


    .resumen {
        font-size: 13px;
        text-align: justify;
    }




    /* imagenSecondary component */

    .flex-target {
        display: block;
        position: relative;
    }

    .imagen-secondary {
        width: 100%;
        height: auto;
    }

    .secondary-img {
        width: 100%;
        object-fit: cover;
    }

    .content-secondary {
        position: absolute;
        padding: 1px;
        bottom: 5px;
        width: 100%;
    }

    .content-secondary > h3 {
        font-size: 15px;
        background: #000000b8;
        color:  var(--white);
        width: 100%;
        padding: 5px;
    }

    .content-secondary > p {
        display: none!important;
    }

    .btn-see-more {
        border-radius: 7px;
        width: 100%;
        background: var(--blue);
        border: transparent;
        
        color: var(--white);
        padding: 5px;
        margin-bottom: 60px;
    }

    .col-sm-12{
        padding: 0px;

    }

    .btn-see-more:hover{
        /* animation-name: fill-butom;
        animation-duration: .2s; */
        background: var(--blue);
        color: var(--white);
        border: transparent;


    }

    .link-secondary {
        color: var(--black);
        font-weight: bold;
    }

    .link-secondary:hover {
        /* text-decoration: none; */
        color: var(--black);
    }


    /*  news terciarias */


    .target-terciaria {
        width: 100%;
        position: relative;
        border-radius: 6px;
        overflow: hidden;
        /* border: solid 1px; */
        margin: 6px 0px;
        box-shadow: 6px 4px 6px -6px rgb(0 0 0);
    }

    /* .imagen-terciaria:hover + .titulo-terciario{
        background: var(--black);
    } */

    .imagen-terciaria {
        width: inherit;
        box-sizing: border-box;
        object-fit: cover;
    }

    .link {
        color: var(--white);
    }

    .titulo-terciario {
        font-size: 15px;
        position: absolute;
        bottom: 5px;
        color: var(--white);
        padding: 4px;
        margin: 0px;
        background:#000000b8;
    }

    .container {
        max-width: 100%;
        padding-left: 2px;
        padding-right: 2px;
    }

    .modal-body{
        height: 90vh;
    }

    .modal-dialog {
        max-width: 100%!important;
    }

    iframe{
        width: 100%;
        height: 100%;
    } 


}


@media (min-width: 576px) and (max-width: 767.98px){
    
    .target {
        overflow: hidden;
        box-shadow: 6px 4px 6px -6px rgb(0 0 0);
        position: relative;
        margin-bottom: 10px;
        border-radius: 17px;
        background: var(--white);
        width: 100%;
    }

    .frame {
        max-width: 100%;
        height: 200px;
        background-color: #000000b0;
    }

    .metadata {
        font-size: 10px;
        font-weight: 400;
        color: var(--white)

    }
    .category {
        position: absolute;
        top: 0;
        left: 10px;

    }

    .date {
        position: absolute;
        top: 0;
        display: flex;
        right: 10px;

    }

    .image-new {
        width: 100%;
        height: 200px;
    }

    .content {
        padding: 12px;

    }


    .title-principal > h3 {
        font-size: 16px;
        /* text-align: justify; */
    }

    .btn-more-principal:hover{
        text-decoration: none ;
        color: var(--white);
        background-color: var(--blue);
        border: transparent;


    }
    .btn-more-principal {
        display: block;
        text-decoration: none;
        background: var(--blue);
        padding: 8px;
        font-size: 14px;
        text-align: center;
        box-sizing: border-box;
        border-radius: 10px;
        color: var(--white);
        border: transparent;

    }


    .resumen {
        font-size: 13px;
        text-align: justify;
    }

    /* imagenSecondary component */

    .flex-target {
        display: flex;
    }

    .imagen-secondary {
        width: 150px;
        /* height: 100px; */

    }

    .secondary-img {
        width: 150px;
        height: 150px;
        /* object-fit: cover; */
    }

    .content-secondary {
        padding: 5px 10px;
    }

    .content-secondary > h3 {
        font-size: 15px;
    }

    .content-secondary > p {
        font-size: 13px;
        text-align: justify;
    }

    .btn-see-more {
        border-radius: 7px;
        width: 100%;
        background: var(--blue);
        border: transparent;
        color: var(--white);
        padding: 5px;
        margin-bottom: 80px;
        
    }

    .btn-see-more:hover{
        /* animation-name: fill-butom;
        animation-duration: .2s; */
        background-color: var(--blue);
        color: var(--white);
        border: transparent;


    }


    .link-secondary {
        color: var(--black);
        font-weight: bold;
    }

    .link-secondary:hover {
        /* text-decoration: none; */
        color: var(--black);
    }


    /*  news terciarias */


    .target-terciaria {
        width: 100%;
        height: auto;
        position: relative;
        border-radius: 6px;
        overflow: hidden;
        /* border: solid 1px; */
        margin: 6px 0px;
        box-shadow: 6px 4px 6px -6px rgb(0 0 0);
    }

    /* .imagen-terciaria:hover + .titulo-terciario{
        background: var(--black);
    } */

    .imagen-terciaria {
        width: inherit;
        box-sizing: border-box;
        object-fit: cover;
    }

    .link {
        color: var(--white);
    }

    .titulo-terciario {
        font-size: 11px;
        position: absolute;
        bottom: 5px;
        color: var(--white);
        padding: 4px;
        margin: 0px;
        background:#000000b8;
    }

}


@media (min-width: 768px) and (max-width: 991.98px){

    .target {
        overflow: hidden;
        box-shadow: 6px 4px 6px -6px rgb(0 0 0);
        position: relative;
        margin-bottom: 10px;
        border-radius: 17px;
        background: var(--white);
    }

    .frame {
        max-width: 100%;
        height: 200px;
        background-color: #000000b0;
    }

    .metadata {
        font-size: 12px;
        font-weight: 400;
        color: var(--white)

    }
    .category {
        position: absolute;
        top: 0;
        left: 10px;

    }

    .date {
        position: absolute;
        top: 0;
        display: flex;
        right: 10px;

    }

    .image-new {
        width: 100%;
        height: 200px;
    }

    .content {
        padding: 12px;

    }


    .title-principal > h3 {
        font-size: 16px;
        /* text-align: justify; */
    }

    .btn-more-principal:hover{
        text-decoration: none ;
        color: var(--white);
        background-color: var(--black);
        border: transparent;


    }
    .btn-more-principal {
        display: block;
        text-decoration: none;
        background: var(--blue);
        padding: 8px;
        font-size: 14px;
        text-align: center;
        box-sizing: border-box;
        border-radius: 10px;
        color: var(--white);
        border: transparent;

    }


    .resumen {
        font-size: 13px;
        text-align: justify;
    }

    /* imagenSecondary component */

    .flex-target {
        display: flex;
    }

    .imagen-secondary {
        width: 150px;
        /* height: 100px; */

    }

    .secondary-img {
        width: 150px;
        height: 150px;
        /* object-fit: cover; */
    }

    .content-secondary {
        padding: 5px 10px;
    }

    .content-secondary > h3 {
        font-size: 15px;
    }

    .content-secondary > p {
        font-size: 14px;
        text-align: justify;
    }

    .btn-see-more {
        border-radius: 7px;
        width: 100%;
        background: var(--blue);
        border: transparent;
        color: var(--white);
        padding: 5px;
        margin-bottom: 80px;
    }

    .btn-see-more:hover{
        /* animation-name: fill-butom;
        animation-duration: .2s; */
        background-color: var(--black);
        color: var(--white);
        border: transparent;


    }

    .link-secondary {
        color: var(--black);
        font-weight: bold;
    }

    .link-secondary:hover {
        /* text-decoration: none; */
        color: var(--black);
    }


    /*  news terciarias */


    .target-terciaria {
        width: 100%;
        height: auto;
        position: relative;
        border-radius: 6px;
        overflow: hidden;
        /* border: solid 1px; */
        margin: 6px 0px;
        box-shadow: 6px 4px 6px -6px rgb(0 0 0);
    }

    /* .imagen-terciaria:hover + .titulo-terciario{
        background: var(--black);
    } */

    .imagen-terciaria {
        width: inherit;
        box-sizing: border-box;
        object-fit: cover;
    }

    .link {
        color: var(--white);
    }

    .link:hover {


    }

    .titulo-terciario {
        font-size: 10px;
        position: absolute;
        bottom: 5px;
        color: var(--white);
        padding: 4px;
        margin: 0px;
        background:#000000b8;
    }


}


