:root{
  --white: #ffffff;
  --black: #000000;
  --gray: #7374796b;
  --backgound:#f5f1ea;
  --blue: linear-gradient(262deg, rgba(37,85,238,1) 0%, rgba(29,65,97,1) 0%, rgba(11,105,189,1) 50%, rgba(37,141,233,1) 100%);
}


.container-fluid {
  padding: 0px 50px;
}

body {
  background: var(--backgound);
}

@media (max-width: 450px){

  .container-fluid {
    padding: 0px 4px;
  }

}