:root{
  --white: #ffffff;
  --black: #000000;
  --gray: #7374796b;
  --backgound:#f5f1ea;
  --blue: linear-gradient(262deg, rgba(37,85,238,1) 0%, rgba(29,65,97,1) 0%, rgba(11,105,189,1) 50%, rgba(37,141,233,1) 100%);
  --recientesColor: #CC8EE1;
  --deportesColor: #C3E2FF;
  --economiaColor: #FFA5A5;
  --saludColor: #EFB810;
  --covidColor: #296336;
  --input: #C8D4FF;
}

.border-note {
  border: 1px solid transparent;
  max-width: 1250px;
  margin: auto;
  background: var(--white);
}

body{
  background: #CCCCCC;
}

hr{
  color: var(--blue);
  background: var(--blue);
  height: 10px;
}

@media only screen and (max-width: 575.98px){

  .border-note {
    /* display: none; */
  }

  hr{
    margin-top: 10px;
  height: 5px;
  }




}

@media (min-width: 576px) and (max-width: 767.98px){
  .border-note {
    border: 1px solid transparent;
    max-width: 800px;
    min-width: 460px;
    margin: auto;
    background: var(--white);
  }
}


@media (min-width: 768px) and (max-width: 991.98px){

}
